<ul>
    <% @articles.each do |article| %>
        <li>
            <%= render partial: 'article', locals: { article: article } %>
            <%= link_to "View more", article_path(article) %>
        </li>
    <% end %>
</ul>